{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Batch List</title>
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" >
</head>
<body>
    <a href="{% url 'index' %}">Main Menu</a>
    <h1>List of Batches</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Schedule</th>
            </tr>
        </thead>
        <tbody>
            {% for batch in batch %}
                <tr>
                    <td>{{ batch.id }}</td>
                    <td>{{ batch.name }}</td>
                    <td>{{ batch.schedule }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>





















